$zero: 0;
$one: 1;

html{
  background-image: url('images/pokemon.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.row{
  margin-top: 50px;
}

.round{
  border-radius: 25px;
}

#cardfront{
  max-width: 100%;
  height: auto;
  margin: $zero;
  padding: $zero;
  border: 1px solid black;
  border-radius: 31px;
  position: relative;
}

.card{
  box-shadow: $zero 6px 12px $zero rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover{
  box-shadow: $zero 8px 16px $zero rgba(0,0,0,0.2);
}
/* POKECARD FUNCION CLASSES */
.row-hidden{
  opacity: $zero;
  transition: opacity;
}

.row-reveal{
  opacity: $one !important;
  transition: opacity;
  transition-duration: 4.5s;
}
.hidden, .span-hidden{
  opacity: $zero;
  transition: opacity;
}

.reveal{
  opacity: $one !important;
  transition: opacity;
  transition-duration: 3s;
}
/* =============================== */
/* SPAN POSITIONS */
#cardTop{
  position: absolute;
   top: 13.5%;
   left: 37%;
   font-size: 0.7em;
}

#pokeId, #pokeName{
  font-size: 1.6em;
}

#pokeHp{
  float: right;
  font-size: 1.2em;
  margin-left: 100px;
}

.cardStat{
  position: absolute;
  top: 49%;
  left: 40%;
}

#cardAb{
  position: absolute;
  top: 52.2%;
  width: 23%;
  left: 39.3%;
}

#tin{
  margin: 7px;
}
/* ========================================== */
/* BUTTON */
#bttn, .spin{
  left: 40.6%;
}

/* ============================================= */
/* ANIMATED CSS */
.flipInY{
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: $one;
}

.fadeInDown{
  -webkit-animation-duration: 4000ms;
}
/* =============================================
/* https://wireframe.cc/18BbEK */
