/* https://wireframe.cc/18BbEK */
/* NAVBAR */
h1{
  
}
/* =============================== */
/* POKEGRID */
#pokegrid div.row{
  margin-top: 50px;
}

.center-page{
  margin: 0 auto;
  float: none;
}
/* =============================== */
